The dataset that we're going to be using in this project is from the botany domain, so it has to do with plants. We are going to be using the Iris Plants Dataset. This dataset comes with the _scikit-learn_ library, and contains information about different iris flowers, i.e. sepal length, sepal width, petal length, petal width and species (with three possible values for species: setosa, versicolor and virginica). 

This dataset contains measurements (i.e. sepal length, sepal width, petal length and petal width) for which we know the correct species. So if we go out in nature and find some iris flowers and measure their sepal length, sepal width, petal length and petal width, then we can use the iris dataset to predict which species each flower belongs to. 

So, to start the project we first need to tell Python that we're going to be using scikit-learn, with the use of the import command, and then import the dataset, assigning to iris_dataset.

In [13]:
import sklearn
import pandas as pd
from sklearn.datasets import load_iris

iris_dataset = load_iris()
#let's see get a sense of the data in the dataset

iris_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

feature_names corresponds to the names of all the features in the dataset, in other words all the variables that we take into account when building our machine learning model. 

target_names corresponds to the class labels. There are three class labels: 'setosa', 'versicolor' and 'virginica'.

data contains the values for the different features, and target contains the species for each of the flowers in the database (contained in target_names).

With this we'll create a dataframe and name it iris_df

In [43]:
iris_df=pd.DataFrame(iris_dataset.data, columns=iris_dataset.feature_names)

iris_df['target']=iris_dataset.target

#now, let's see how it is structured

iris_df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   iris_df.iloc[:, :-1], iris_dataset['target'], random_state=0)


print(y_train[:5])
X_train.head()

[1 1 2 0 2]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
61                 5.9               3.0                4.2               1.5
92                 5.8               2.6                4.0               1.2
112                6.8               3.0                5.5               2.1
2                  4.7               3.2                1.3               0.2
141                6.9               3.1                5.1               2.3